:root {
  --main-blue: #2196F3;
  --text-grey: #757575;
  --title-grey: #212121;
  --dark-back: #2F303A;
  --light-back: #F5F4FA;
  --white: #ffffff;
  --text-white6: rgba(255, 255, 255, 0.6);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body { 
  color: var(--text-grey);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

h1,h2,h3 {
  color: var(--title-grey);
  margin-top: 0;
  margin-bottom: 0;
} 

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Шапка */
.header {
  background-color: var(--white);
  border-bottom: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 25px;
  height: 80px;
}

.header .container,
.header-nav,
.header-pages,
.header-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hd-page {
  margin-left: 50px;
}

.hd-page:first-child {
  margin-left: 93px;
}

.header-pages a {
  color: var(--title-grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-pages a:hover,
.header-pages a:focus {
  color: var(--main-blue);
}

.header-pages .current {
  color: var(--main-blue);
}

.header-contacts a {
  display: flex;

  color: var(--text-grey);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.hd-contact {
  margin-left: auto;
  margin-right: 50px;
}

.hd-contact:last-child {
  margin-right: 0;
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--main-blue);
}

.contact-icon {
  align-self: center;
  margin-right: 10px;  
   
  fill: currentColor;
}

/* Лого */
.header-logo, 
.footer-logo {
  color: var(--main-blue);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}  

.header-logo span {
  color: #000000;
}

.footer-logo span {
  color: var(--white);
}

/* Герой */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
 
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  
  background-image: linear-gradient( to bottom, rgba(47, 48, 58, 0.4) ,rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg); 

  background-color: #C4C4C4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
 
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  
  color: var(--white);

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero-btn {
  display: inline-block;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  
  background-color: var(--main-blue);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188CE8;
}

/* /Sections&grid */
.features, .specialty, .our-team, .portfolio, .customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.specialty-title,.team-title,.customers-title {
  margin-bottom: 50px;
  
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid>li {
  margin-left: 30px;
  margin-top: 30px;
}

/* Преимущества*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-icon {
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--light-back);
  align-items: center;
  justify-content: center;
}

.features-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list>li {
  width: 270px;
  flex-basis: calc(100% / 4 - 30px);
}

.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

/* Чем мы занимаемся */
.specialty {
  padding-top: 0;
}

.specialty-list>li {
  flex-basis: calc(100% / 3 - 30px);
}

.specialty-list .thumb {
  position: relative;

  height: 294px;
}

.specialty-list .img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.specialty-list h3 {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  height: 70px;
  width: 370px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white);
 
  background: rgba(47, 48, 58, 0.8);
}

/* Ccылки на социальные сети */

.social-links {
  display: flex;
  width: 206px;
  height: 44px;
  justify-content: space-between;
}

.social-links a {
  display: flex;
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;
}

.team.social-links a {
  color: #AFB1B8;
}

.join.social-links a {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-links a:hover, 
.social-links a:focus {
  color: var(--white);
  background-color: var(--main-blue);
  border-radius: 50%;
  outline: none;
}

.link-icon {
  fill: currentColor;
}
 
/* Наша команда */
.our-team {
  background-color: var(--light-back);
}

.team-list>li {
  flex-basis: calc(100% / 4 - 30px);

  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-content {
  text-align: center;
  padding: 30px 32px;
}

.team-list h3 {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-list p {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

}

/* Постоянные клиенты */
.customers-list>li{
  flex-basis: calc(100% / 6 - 30px);
}

.customers-list a {
  display: flex;
  width: 170px;
  height: 90px;
  color: #AFB1B8;
  border: 1px solid;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.customers-list a:hover, 
.customers-list a:focus {
  color: var(--main-blue);
  outline: none;
}

.logo-icon { 
  fill: currentColor;
}

/* Подвал */
.footer {
  background-color: var(--dark-back);
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Адресс, контакты */

.footer .container {
  display: flex;
  justify-content: start;
}

.footer-address,
.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  display: flex;
  flex-direction: column;
}

.footer-address {
  margin: 0;
  margin-top: 20px;
      
  color: var(--white);
}

.footer-contacts a{
  display: inline-block;
  margin-top: 9px;

  color: var(--text-white6);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--main-blue);
}

/* Присоеденяйтесь */

.join-us {
  margin-left: 70px;
} 

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white);
  padding-top: 12px;
}

/* Портфолио */

.portfolio-filter {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}

.portfolio-filter button {
  padding: 6px 22px;
  
  color: var(--title-grey);
  background-color: var(--light-back);
  border: none;
  border-radius: 4px;
 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;

  outline: none;
}

.portfolio-filt-btn {
  margin-right: 8px;
}

.portfolio-filt-btn:last-child {
  margin-right: 0;
}

.portfolio-filter button:hover,
.portfolio-filter button:focus {
  background-color: var(--main-blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list>li {
  flex-basis: calc(100% / 3 - 30px);

  background-color: var(--white);
}

.portfolio-list a {display: block;}

.portfolio-list a:hover,
.portfolio-list a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.portfolio-list-content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.portfolio-list h2 {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list  p {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-grey);
}
